[Unit]
Description=BloombergIDX Data Ingestion Strike
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/alvin/CodeProjects/BloombergIDX
ExecStart=/bin/bash -c 'source venv/bin/activate && python3 -m backend.scraper && python3 -m backend.market_scraper && python3 -m backend.event_scraper'

[Install]
WantedBy=default.target
